<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Longitude:</strong>
  <%= @visitor.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @visitor.latitude %>
</p> -->

<div>
 <%= gmaps(:map_options => {:detect_location => true, :center_on_user => true, :auto_zoom => false, :zoom => 15, :auto_adjust => true}, :markers => {:data => @json} ) %>
</div>

<%= link_to 'Edit', edit_visitor_path(@visitor) %> |
<%= link_to 'Back', visitors_path %>

