<h1> All Open Restaurants</h1>
<div class='time'> <%= Time.now.strftime('%A, %b %d, %I:%M %p') %> </div>

<div class= "list-table">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Open for</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
		<% @response["businesses"].each do |restaurant| %>
      <tr>
        <td><%= restaurant["name"] %>
        </td>
        <td>
					<% restaurant["location"]["display_address"].each do |x| %>
						<span>
							<%= x %>
						</span><br>
					<% end %>
        </td>
        <td>
					<span class="phone">
						<%= restaurant["phone"] %>
					</span><br>
        </td>
        <td><%= link_to 'Show', restaurant_path(restaurant["id"]), class: "btn-large btn-success", id: "listbutton" %></td>
     	</tr>      
    <% end %>
  </tbody>
</table>
</div>


