<h1> All Open Restaurants</h1>
<div class='time'> <%= Time.now.strftime('%A, %b %d, %I:%M %p') %> </div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <!-- <th>Address</th> -->
      <!-- <th>Description</th> -->
      <th>Open time</th>
      <th>Close time</th>
      <!-- <th>Long.</th> -->
      <!-- <th>Lat.</th> -->
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <!-- <td><%= restaurant.address %></td> -->
        <!-- <td><%= restaurant.description %></td> -->
        <td><%= restaurant.open_time %></td>
        <td><%= restaurant.close_time %></td>
        <!-- <td><%= restaurant.longitude %></td> -->
        <!-- <td><%= restaurant.latitude %></td> -->
        <td><%= link_to 'Show', restaurant, class: "btn-large btn-success" %></td>
         </tr>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
    <% end %>
  </tbody>
</table>

<br>
<%= yield :scripts %>
<%= link_to 'New Restaurant', new_restaurant_path,class: "btn-large btn-primary" %>
<div>
<%= gmaps(:map_options => {:detect_location => true, :center_on_user => true, :auto_zoom => false, :zoom => 12, :auto_adjust => true}, :markers => {:data => @json} ) %>

</div>


 