
<div class="showtable">
<table class="table table-striped table-bordered table-condensed"> 

<!-- table-bordered table-condensed"> -->



 
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Open for</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @response["name"] %></td>
      <td>
        <% @response["location"]["display_address"].each do |x| %>
          <span>
            <%= x %>
          </span><br>
        <% end %>
      </td>
      <td>
        <span class="phone">
          <%= @response["phone"] %>
        </span><br>
      </td>
    </tr>      
  </tbody>
</table>

<div>



  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
</div>
</div>

 <%= gmaps(:map_options => {:detect_location => true, :center_on_user => false, :auto_zoom => false, :zoom => 16, :auto_adjust => true}, :markers => {:data => [@coordinates["geometry"]["location"]].to_json } ) %>

